<a href="https://colab.research.google.com/github/SarahSaeedKhan/Tasks/blob/main/Anamoly_detection_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [ ]:
data=pd.read_csv('/content/small_data.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8289 entries, 0 to 8288
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   xmlns          8289 non-null   object
 1   Name           8289 non-null   object
 2   Guid           8289 non-null   object
 3   EventID        8289 non-null   int64
 4   Version        8289 non-null   int64
 5   Level          8289 non-null   int64
 6   Task           8289 non-null   int64
 7   Opcode         8289 non-null   int64
 8   Keywords       8289 non-null   object
 9   SystemTime     8289 non-null   object
 10  EventRecordID  8289 non-null   int64
 11  ProcessID      8289 non-null   int64
 12  ThreadID       8289 non-null   int64
 13  Channel        8289 non-null   object
 14  Computer       8289 non-null   object
 15  UserID         8289 non-null   object
dtypes: int64(8), object(8)
memory usage: 1.0+ MB

In [ ]:
data.shape

(8289, 8)

In [ ]:
data.head(5)

,xmlns,Name,Guid,EventID,Version,Level,Task,Opcode,Keywords,SystemTime,EventRecordID,ProcessID,ThreadID,Channel,Computer,UserID
0,http://schemas.microsoft.com/win/2004/08/event...,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.0002547Z,223884,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
1,http://schemas.microsoft.com/win/2004/08/event...,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0004784Z,223885,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
2,http://schemas.microsoft.com/win/2004/08/event...,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0021410Z,223886,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
3,http://schemas.microsoft.com/win/2004/08/event...,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0106177Z,223887,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
4,http://schemas.microsoft.com/win/2004/08/event...,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.0801526Z,223888,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18

In [ ]:
#label encode:

# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
data['xmlns']= label_encoder.fit_transform(data['xmlns'])

data['xmlns'].unique()

array([0])

In [ ]:
data.head(5)

,xmlns,Name,Guid,EventID,Version,Level,Task,Opcode,Keywords,SystemTime,EventRecordID,ProcessID,ThreadID,Channel,Computer,UserID
0,0,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.0002547Z,223884,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
1,0,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0004784Z,223885,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
2,0,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0021410Z,223886,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
3,0,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0106177Z,223887,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
4,0,Microsoft-Windows-Sysmon,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.0801526Z,223888,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18

In [ ]:

# Encode labels in column 'species'.
data['Name']= label_encoder.fit_transform(data['Name'])

data['Name'].unique()

array([0])

In [ ]:
data.head(15)

,xmlns,Name,Guid,EventID,Version,Level,Task,Opcode,Keywords,SystemTime,EventRecordID,ProcessID,ThreadID,Channel,Computer,UserID
0,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.0002547Z,223884,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
1,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0004784Z,223885,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
2,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0021410Z,223886,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
3,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0106177Z,223887,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
4,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.0801526Z,223888,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
5,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0802780Z,223889,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
6,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0816054Z,223890,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
7,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0894245Z,223891,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
8,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.0996051Z,223892,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
9,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.0997349Z,223893,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
10,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.1018868Z,223894,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
11,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.1099126Z,223895,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
12,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},12,2,4,12,0,0x8000000000000000,2021-12-29T17:29:10.1221236Z,223896,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
13,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.1224254Z,223897,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18
14,0,0,{5770385f-c22a-43e0-bf4c-06f5698ffbd9},13,2,4,13,0,0x8000000000000000,2021-12-29T17:29:10.1227476Z,223898,2640,1804,Microsoft-Windows-Sysmon/Operational,DESKTOP-I1T2G01,S-1-5-18

In [ ]:
# Encode labels in column 'species'.
data['Guid']= label_encoder.fit_transform(data['Guid'])

data['Guid'].unique()

array([0])

In [ ]:
k_clusters = 2
labels = KMeans(k_clusters, init='k-means++', n_init=20, max_iter=500, random_state=4).fit_predict(data)

In [ ]:
df_clust = pd.DataFrame(data)
df_clust['Cluster'] = labels
df_clust.head()

   EventID  Version  Level  Task  ...  EventRecordID  ProcessID  ThreadID  Cluster
0       12        2      4    12  ...         223884       2640      1804        1
1       13        2      4    13  ...         223885       2640      1804        1
2       13        2      4    13  ...         223886       2640      1804        1
3       13        2      4    13  ...         223887       2640      1804        1
4       12        2      4    12  ...         223888       2640      1804        1

[5 rows x 9 columns]

In [ ]:
df_clust.head(60)

    EventID  Version  Level  Task  ...  EventRecordID  ProcessID  ThreadID  Cluster
0        12        2      4    12  ...         223884       2640      1804        1
1        13        2      4    13  ...         223885       2640      1804        1
2        13        2      4    13  ...         223886       2640      1804        1
3        13        2      4    13  ...         223887       2640      1804        1
4        12        2      4    12  ...         223888       2640      1804        1
5        13        2      4    13  ...         223889       2640      1804        1
6        13        2      4    13  ...         223890       2640      1804        1
7        13        2      4    13  ...         223891       2640      1804        1
8        12        2      4    12  ...         223892       2640      1804        1
9        13        2      4    13  ...         223893       2640      1804        1
10       13        2      4    13  ...         223894       2640      1804        1
11       13        2      4    13  ...         223895       2640      1804        1
12       12        2      4    12  ...         223896       2640      1804        1
13       13        2      4    13  ...         223897       2640      1804        1
14       13        2      4    13  ...         223898       2640      1804        1
15       13        2      4    13  ...         223899       2640      1804        1
16       22        5      4    22  ...         223900       2640      1676        1
17       11        2      4    11  ...         223901       2640      1804        1
18       11        2      4    11  ...         223902       2640      1804        1
19       11        2      4    11  ...         223903       2640      1804        1
20       11        2      4    11  ...         223904       2640      1804        1
21       11        2      4    11  ...         223905       2640      1804        1
22        7        3      4     7  ...         223906       2640      1804        1
23       13        2      4    13  ...         223907       2640      1804        1
24       11        2      4    11  ...         223908       2640      1804        1
25       11        2      4    11  ...         223909       2640      1804        1
26       11        2      4    11  ...         223910       2640      1804        1
27       11        2      4    11  ...         223911       2640      1804        1
28        7        3      4     7  ...         223912       2640      1804        1
29       12        2      4    12  ...         223913       2640      1804        1
30       13        2      4    13  ...         223914       2640      1804        1
31       13        2      4    13  ...         223915       2640      1804        1
32       13        2      4    13  ...         223916       2640      1804        1
33       12        2      4    12  ...         223917       2640      1804        1
34       13        2      4    13  ...         223918       2640      1804        1
35       13        2      4    13  ...         223919       2640      1804        1
36       13        2      4    13  ...         223920       2640      1804        1
37       12        2      4    12  ...         223921       2640      1804        1
38       13        2      4    13  ...         223922       2640      1804        1
39       13        2      4    13  ...         223923       2640      1804        1
40       13        2      4    13  ...         223924       2640      1804        1
41       12        2      4    12  ...         223925       2640      1804        1
42       13        2      4    13  ...         223926       2640      1804        1
43       13        2      4    13  ...         223927       2640      1804        1
44       13        2      4    13  ...         223928       2640      1804        1
45       12        2      4    12  ...         223929       2640      1804        1
46       13        2      4    13  ...         223930       2640      1804        1
47       13        2      4    13  ...         223931       2640      1804        1
48       13        2      4    13  ...         223932       2640      1804        1
49       12        2      4    12  ...         223933       2640      1804        1
50       13        2      4    13  ...         223934       2640      1804        1
51       13        2      4    13  ...         223935       2640      1804        1
52       13        2      4    13  ...         223936       2640      1804        1
53        7        3      4     7  ...         223937       2640      1804        1
54       22        5      4    22  ...         223938       2640      1676        1
55       11        2      4    11  ...         223939       2640      1804        1
56       13        2      4    13  ...         223940       2640      1804        1
57       13        2      4    13  ...         223941       2640      1804        1
58       13        2      4    13  ...         223942       2640      1804        1
59       13        2      4    13  ...         223943       2640      1804        1

[60 rows x 9 columns]

In [ ]:
df_clust.tail(10)

      EventID  Version  Level  ...  ProcessID  ThreadID  Cluster
8279       13        2      4  ...       3112      4112        0
8280       13        2      4  ...       3112      4112        0
8281       11        2      4  ...       3112      4112        0
8282       11        2      4  ...       3112      4112        0
8283       13        2      4  ...       3112      4112        0
8284       22        5      4  ...       3112      4132        0
8285       11        2      4  ...       3112      4112        0
8286       13        2      4  ...       3112      4112        0
8287       13        2      4  ...       3112      4112        0
8288       13        2      4  ...       3112      4112        0

[10 rows x 9 columns]

In [ ]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sklearn as sk
import sklearn.linear_model as slm
import matplotlib.pyplot as plt
#from sklearn.model_selection import train_test_split ## Higher Version 0.19.1
from sklearn.model_selection import train_test_split

In [ ]:
X = df_clust.drop('Cluster', axis = 1)
y = data['Cluster']
LR = slm.LinearRegression()
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.25)
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(6216, 8)
(6216,)
(2073, 8)
(2073,)

In [ ]:

LR.fit(X_train, Y_train)

predict = LR.predict(X_test)

In [ ]:
X_test.head(20)

      EventID  Version  Level  Task  Opcode  EventRecordID  ProcessID  ThreadID
3923       23        5      4    23       0         227807       3112      4112
3686       13        2      4    13       0         227570       3112      4112
6193        1        5      4     1       0         230077       3112      4112
5527        7        3      4     7       0         229411       3112      4112
3380       12        2      4    12       0         227264       3112      4112
663        11        2      4    11       0         224547       2640      1804
6900       13        2      4    13       0         230784       3112      4112
3020        1        5      4     1       0         226904       3112      4112
5050       11        2      4    11       0         228934       3112      4112
4143       13        2      4    13       0         228027       3112      4112
1970       11        2      4    11       0         225854       2640      1804
5642       10        3      4    10       0         229526       3112      4112
428        10        3      4    10       0         224312       2640      1804
1614       11        2      4    11       0         225498       2640      1804
3794       12        2      4    12       0         227678       3112      4112
4466       11        2      4    11       0         228350       3112      4112
3264        7        3      4     7       0         227148       3112      4120
4275       13        2      4    13       0         228159       3112      4112
2074       10        3      4    10       0         225958       2640      1804
5201        1        5      4     1       0         229085       3112      4112

In [ ]:
Y_test.head(20)

3923    0
3686    0
6193    0
5527    0
3380    1
663     1
6900    0
3020    1
5050    0
4143    0
1970    1
5642    0
428     1
1614    1
3794    0
4466    0
3264    1
4275    0
2074    1
5201    0
Name: Cluster, dtype: int32

In [ ]:
print('Predicted Value :',predict[2])
print('Actual Value :',Y_test.values[2])

Predicted Value : -0.006907919656566008
Actual Value : 0

In [ ]:
print('Predicted Value :',predict[10])
print('Actual Value :',Y_test.values[10])

Predicted Value : 0.43430679500426805
Actual Value : 1

In [ ]:
print('Predicted Value :',predict[11])
print('Actual Value :',Y_test.values[11])

Predicted Value : 0.8780642970814405
Actual Value : 1

In [ ]:
print('Predicted Value :',predict[13])
print('Actual Value :',Y_test.values[13])

Predicted Value : -0.05270817862441746
Actual Value : 0

In [ ]:
LR.score (X_test, Y_test)

0.764585617367223